@using TicariOtomasyonProjesi.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<table class="table table-bordered" style="margin-top:20px ; background-color:#f6f6ee">
    <tr>
        <th>ID</th>
        <th>DEPARTMAN ADI</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {


<tr>
    <td>@k.Departmanid</td>
    <td>@k.DepartmanAd</td>
    <td> <a href="/Departman/DepartmanSil/@k.Departmanid" class="btn btn-danger">Sil</a> </td>
    <td><a href="/Departman/DepartmanGetir/@k.Departmanid" class="btn btn-success">Güncelle</a></td>
    <td><a href="/Departman/DepartmanDetay/@k.Departmanid" class="btn btn-default" style="background-color:#d6c0a2">Detaylar</a></td>
</tr>



    }
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-info">Departman Ekle</a>
